<section class="catalog">
  <div class="full__container --bg-catalog --container-border-top-none">
    <h1 class="catalog__title">ПОИСК АРТИСТОВ</h1>
    
    <div class="catalog__wrraper  --catalog-line">
      <div class="catalog__wrraper-left ">
        @@include('../section-catalog/catalog-card-big/_catalog-card-big.html')
        <div class="catalog__wrapper-small flex">
          @@include('../section-catalog/catalog-card-small/_catalog-card-small.html')
          @@include('../section-catalog/catalog-card-small/_catalog-card-small.html')
        </div>
        
      </div>
      <div class="catalog__wrraper-right">
        <div class="catalog__wrapper-small flex">
          @@include('../section-catalog/catalog-card-small/_catalog-card-small.html')
          @@include('../section-catalog/catalog-card-small/_catalog-card-small.html')
        </div>
          @@include('../section-catalog/catalog-card-big/_catalog-card-big.html')
      </div>
    </div>
  </div>
</section>

