<section class="gallery">

        <div class="gallery__date-of-performances">
            <h2 class="gallery__text">Расписание выступлений:</h2>
            <p>25/04/24 в 18:00 ул. Большая Покровская, около театра</p>
            <p>01/06/24 в 15:00 Нижне-Волжская набережная</p>
            <button id="open-modal-btn-more-performances" class="gallery__btn-more">
                Ещё
            </button>
        </div>

        <ul class="gallery__photos">
            <li class="gallery__photos-item"><img src="img/artist__img/image5.jpg" alt="" class="gallery__photos-img"></li>
            <li class="gallery__photos-item"><img src="img/x_9256d64c.jpg" alt="" class="gallery__photos-img"></li>
            <li class="gallery__photos-item"><img src="img/x_a15b51e0.jpg" alt="" class="gallery__photos-img"></li>
            <li class="gallery__photos-item"><img src="img/x_4016daf4.jpg" alt="" class="gallery__photos-img"></li>
            <li class="gallery__photos-item"><img src="img/x_9256d64c.jpg" alt="" class="gallery__photos-img"></li>
            <li class="gallery__photos-item"><img src="img/x_a15b51e0.jpg" alt="" class="gallery__photos-img"></li>
        </ul>

</section>