<section class="heroes ">
    <div class="full__container --container-color-gray ">
        <div class="heroes__wrapper flex  ">
            <div class="heroes__wrapper-right">
                <h1 class="heroes__title">НАШИ ГЕрои</h1>
                <a href="#" class="heroes__item">
                    <article class="heroes__item-cover --border-mod-none">
                        <picture class="heroes__item-pic">
                          <img src="img/artist__img/image5.jpg" alt="Artist name">
                        </picture>
                        <img class="heroes__itme-label" src="img/aske.svg" alt="aske online">
                        <h2 class="heroes__item-title --bg-color-lightgreen">Театр пантомимы “Настроение”</h2>
                        <div class="heroes__item-block">
                            <p class="heroes__item-text">музыкант, джаз</p>
                            <a href="#" class="heroes__item-link --link-style">Посмотреть </a>
                        </div>
                    </article>
                </a>
                <a href="#" class="heroes__item">
                    <article class="heroes__item-cover --border-mod-none ">
                        <picture class="heroes__item-pic">
                          <img src="img/artist__img/image52.jpg" alt="Artist name">
                          
                        </picture>
                        <img class="heroes__itme-label" src="img/aske.svg" alt="aske online">
                        <h2 class="heroes__item-title --bg-color-black">Театр пантомимы “Настроение”</h2>
                        <div class="heroes__item-block">
                            <p class="heroes__item-text">музыкант, джаз</p>
                            <a href="#" class="heroes__item-link --link-style">Посмотреть </a>
                        </div>
                    </article>
                </a>
            </div>
            <div class="heroes__wrapper-left">
                <a href="#" class="heroes__all">Посмотреть всех артистов</a>
                <a href="#" class="heroes__item">
                    <article class="heroes__item-cover --border-left-none">
                        <picture class="heroes__item-pic">
                          <img src="img/artist__img/image53.jpg" alt="Artist name">
                        </picture>
                        <img class="heroes__itme-label" src="img/aske.svg" alt="aske online">
                        <h2 class="heroes__item-title --bg-color-purple">Театр пантомимы “Настроение”</h2>
                        <div class="heroes__item-block">
                            <p class="heroes__item-text">музыкант, джаз</p>
                            <a href="#" class="heroes__item-link --link-style">Посмотреть </a>
                        </div>
                    </article>
                </a>
                <div class="heroes__search">
                    <a href="#" class="heroes__search-link ">
                        НАЙТИ ВЫСТУПЛЕНИЕ
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</section>