
<a href="#" class="heroes__item">
    <article class="heroes__item-card  ">
        <div class="card-max">
            <div class="image-block">
              <img src="https://images.wallpapershq.com/wallpapers/8195/thumbnail_600x375.webp" alt="Image">
            </div>
            <div class="article-block">
              <a href="#" class="article">
                <article>
                  <h1>Заголовок статьи</h1>
                  <p>Текст вашей статьи...</p>
                </article>
              </a>
            </div>
        
    </article>
</a>