<section class="container">
    <div class="page-passwordCompleted">
        <img src='img/page_logo.svg' class="page_logo-passwordCompleted">
        <h1 class="page_title-passwordCompleted"><span class="title_pink">ASKE</span>.ON<span class="title_green">LI</span>NE</h1>
    </div>
    <div class="account-passwordCompleted">
        <p class="account_title-passwordCompleted">Восстановление пароля</p>
        <div class="account_password-passwordCompleted">
            <img class="account_image-passwordCompleted" src="img/Vector (1).svg">
            <p class="account_text-passwordCompleted">Пароль успешно изменен</p>
        </div>
    </div>
</section>
