<section class="container">
    <div class="page-registration">
        <img src='img/page_logo copy.svg' class="page_logo-registration">
        <h1 class="page_title-registration"><span class="title_pink">ASKE</span>.ON<span class="title_green">LI</span>NE</h1>
        <img src="img/full-shot-friends-making-music-together 4.png" class="page_img-registration">
    </div>
    <form class="account-registration" id="regisrty">
        <p class="account_title-registration">Регистрация в личном<br>кабинете</p>
        <div class="account_wrapper-registration">
            <label for="login" class="account_input-title-registration">Логин</label>
            <input class="account_input-registration" type="email" name="login" id="login">
            <label class="account_mail-registration">Электронная почта</label>
        </div>
        <div class="account_wrapper-registration">
            <label for="password" class="account_input-title-registration">Придумайте пароль</label>
            <input class="account_input-registration" type="password" name="password" id="password">
        </div>
        <div class="account_wrapper-registration">
            <label for="password" class="account_input-title-registration">Повторите пароль</label>
            <input class="account_input-registration" type="password" name="password-repeat" id="password-repeat">
        </div>
        <div class="account_confirmation-registration">
            <input class="account_checkbox-registration" type="checkbox"></input>
            <p class="account_confirmation-information-registration">Отправляя заявку, я соглашаюсь на обработку персональных данных <a href="privacy-policy-&-terms.html" class="policy-link">Политика конфиденциальности и правила</a></p>
            
        </div>
        <p class="account_disabled-registration">Пользователь с таким логином уже зарегистрирован</p>
        <button class="account_login-registration" type="submit">Зарегистрироваться</button>
        <div class="account_registering-registration">
            <a href="" class="account_registering-link-registration">Уже зарегистрированы? Войти</a>
        </div>
    </form>
</section>