<a href="#" class="heroes__item ">
    <article class="heroes__item-card">
        <div class="card-min">
            <div class="image-block-min">
              <img src="https://images.wallpapershq.com/wallpapers/8195/thumbnail_600x375.webp" alt="Image">
            </div>
            <div class="article-block-min">
              <a href="#" class="article">
                <article>
                  <h1>Заголовок статьи trhthth</h1>
                  <p>еееееее <span>mollitia ad saepe delectus ea excepturi quaerat officia eum commodi atque autem!</span>
                  
                  </p>
                </article>
              </a>
            </div>
          </div>
    </article>
</a>