<section class="container">
    <div class="page-recovery">
        <img src='img/page_logo.svg' class="page_logo-recovery">
        <h1 class="page_title-recovery"><span class="title_pink">ASKE</span>.ON<span class="title_green">LI</span>NE</h1>
    </div>
    <form class="account-recovery" id="recovery-password">
        <p class="account_title-recovery">Восстановление пароля</p>
        <div class="account_wrapper-recovery">
            <label for="password" class="account_input-title-recovery">Придумайте новый пароль</label>
            <input class="account_input-recovery" type="password" name="password" id="password">
        </div>
        <div class="account_wrapper-recovery">
            <label for="password" class="account_input-title-recovery">Повторите новый пароль</label>
            <input class="account_input-recovery" type="password" name="password-repeat" id="password-repeat">
        </div>
        <p class="account_incorrect-recovery">Введенные пароли не совпадают</p>
        <button class="account_login-recovery" type="submit">Изменить</button>
    </form>
</section>