<section class="container">
    <div class="page-mailCompleted">
        <img src='img/page_logo.svg' class="page_logo-mailCompleted">
        <h1 class="page_title-mailCompleted"><span class="title_pink">ASKE</span>.ON<span class="title_green">LI</span>NE</h1>
    </div>
    <div class="account-mailCompleted">
        <p class="account_title-mailCompleted">Восстановление пароля</p>
        <p class="account_title-information-mailCompleted">Пожалуйста, проверьте электронную почту,чтобы восстановить пароль</p>
    </div>
</section>
