<section class="container">
    <div class="page-autorization">
        <img src='img/page_logo.svg' class="page_logo-autorization">
        <h1 class="page_title-autorization">Добро пожаловать в <span class="title_upper"><span class="title_pink">ASKE</span>.ON<span class="title_green">LI</span>NE</span></h1>
        <img src="img/full-shot-friends-making-music-together 4.png" class="page_img-autorization">
    </div>
    <form class="account-autorization" id="autorization">
        <div class="account_wrapper-autorization">
            <label for="login" class="account_input-title-autorization">Логин</label>
            <input class="account_input-autorization" type="email" name="login" id="login">
        </div>
        <div class="account_wrapper-autorization">
            <label for="password" class="account_input-title-autorization">Пароль</label>
            <input class="account_input-autorization" type="password" name="password" id="password">
        </div>
        <div class="account_forgot-autorization">
            <a class="account_forgot-link-autorization" href="">Забыли пароль?</a>
        </div>
        <p class="account_incorrect-autorization">Неправильно введен логин\пароль</p>
        <button class="account_login-autorization" type="submit">Войти</button>
        <div class="account_registering-autorization">
            <a class="account_registering-link-autorization" href="">Еще нет аккаунта? Зарегистрироваться</a>
        </div>
    </form>
</section>
       