<footer class="footer">
    <div class="full__container --container-color-black">
        <div class="footer__wrapper flex --just-space">
            <div class="footer__info ">
                <div class="footer__info-material">
                    <p class="footer__material-text">фотоматериалы  взяты с сайта 
                        <a target="_blank" href="https://ru.freepik.com" class="footer__material-link">https://ru.freepik.com/</a>
                    </p>
                    <div class="footer__info-text">
                        Поле для редактируемого текста Поле для редактируемого текста Поле для редактируемого текста Поле для редактируемого текста Поле для редактируемого текста Поле для редактируемого текста Поле для редактируемого текста Поле для редактируемого текста Поле для редактируемого текста
                    </div>
                </div>
            </div>
            
            <div class="footer__links">
                <p class="footer__links-title">МЕНЮ</p>
                <ul class="footer__list">
                    
                    <li class="footer__list-item">
                        <a href="index.html" class="footer__list-link">Главная</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__list-link">Артисты</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="news.html" class="footer__list-link">Новости</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__list-link">События</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__list-link">Личный кабинет</a>
                    </li>
                </ul>
                
            </div>
        </div>
        <a target="_blank" href="#" class="footer__telegram"><svg class="tg-icon" xmlns="http://www.w3.org/2000/svg" width="44" height="38" viewBox="0 0 44 38" fill="none">
            <rect width="44" height="38" fill="black"/>
            <path d="M34 8L6 19L16.3158 20.4667M34 8L30.3158 30L16.3158 20.4667M34 8L16.3158 20.4667M16.3158 20.4667V28.5333L21.1038 23.7271" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <div class="footer__developer">
            <a target="_blank" href="https://lad-academy.ru/" class="footer__developer-link">
                <img src="img/lad__logo.jpg" alt="Академия Лад" class="footer__developer-logo">
                <p class="footer__developer-title">
                    Cайт создан ИТ академией ЛАД
                </p>
                
            </a>
        </div>
        
    </div>
</footer>
