<header class="header ">
    <div class="full__container flex --container-border-down-none ">
        <a href="#" class="logo"><img src="/img/logo.svg" alt="Aske Online" class="logo__image"></a>
        <div class="header__wrapper">
            <nav class="menu">
                <ul class="menu__list flex --just space">
                    <li class="menu__list-item">
                        <a href="index.html" class="menu__list-link">ГЛАВНАЯ</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">артисты</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="news.html" class="menu__list-link">Новости</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="calendar.html" class="menu__list-link">События</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="autorization.html" class="menu__list-link">Личный кабинет</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>