<header class="mini-header">
    <div class="mini-header_logo-background">
        <a href="" class="mini-header_logo">
            <img src="img/image 3 (Traced).svg" class="mini-header_img">
            <p class="mini-header_logo-text">ASKE.ONLINE</p>
        </a>
    </div>
    <nav class="mini-header_menu">
        <ul class="mini-header_list">
            <li class="mini-header_list-item"><a href="" class="mini-header_list-link">Главная</a></li>
            <li class="mini-header_list-item"><a href="" class="mini-header_list-link">Артисты</a></li>
            <li class="mini-header_list-item"><a href="" class="mini-header_list-link">Новости</a></li>
            <li class="mini-header_list-item"><a href="" class="mini-header_list-link">События</a></li>
            <li class="mini-header_list-item"><a href="" class="mini-header_list-link">Личный кабинет</a></li>
            <li class="mini-header_list-item"><a href="" class="mini-header_list-link">ЛК</a></li>
        </ul>
        <button class="mini-header_burger" type="button">
            <img class="mini-header_burger-img burger-active" src="img/Group 9.svg">
            <img class="mini-header_burger-img" src="img/close_111152.svg">
        </button>
    </nav>
</header>