<section class="pagination">
    <div class="full__container --bg-catalog">
      <div class="pagination-pages__wrapper flex">
        <ul class="pagination-pages__list flex">
          <li class="pagination-pages__list-item">
            <a href="#" class="pagination__list-link pagination-link-active">1</a>
          </li>
          <li class="pagination-pages__list-item">
            <a href="#" class="pagination__list-link pagination-link">...</a>
          </li>
          <li class="pagination-pages__list-item"> 
            <a href="#" class="pagination__list-link pagination-link">10</a>
        </li>
        </ul>
      </div>
    </div>
  </section>