<section class="pagination">
    <div class="full__container">
      <div class="pagination-pages__wrapper --pagination-news-bg flex">
        <ul class="pagination-pages__list flex">
          <li class="pagination-pages__list-item">
            <a href="#" class="pagination__list-link pagination-news-active">1</a>
          </li>
          <li class="pagination-pages__list-item ">
            <a href="#" class="pagination__list-link pagination-link pagination-news">...</a>
          </li>
          <li class="pagination-pages__list-item "> 
            <a href="#" class="pagination__list-link pagination-news">10</a>
        </li>
        </ul>
      </div>
    </div>
  </section>