
<!-- Посмотреть все выступления-->
<div class="modal-more-performances" id="popup1">
    <div class="modal__box-more-performances">
        <button class="close-popup modal__close-btn">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="25" height="25" fill="#F8F3F3" />
                <g id="&#208;&#158;&#208;&#186;&#208;&#189;&#208;&#190; 10">
                    <rect x="-812" y="-173" width="874" height="675" fill="#D7D7D7" />
                    <rect x="-812" y="-173" width="874" height="675" stroke="black" stroke-width="4" />
                    <g id="Group 1000002330">
                        <rect id="Rectangle 135" width="25" height="25" fill="white" />
                        <g id="Group 1000002324">
                            <path id="Line 43" d="M3.125 3.125L22.4865 22.6562" stroke="black" stroke-width="1.5" />
                            <path id="Line 44" d="M2.17397 22.6567L21.7507 3.13322" stroke="black"
                                stroke-width="1.5" />
                        </g>
                    </g>
                </g>
            </svg>
        </button>

        <h2 class="modal__title">Все выступления:</h2>

        <div class="form-flex">
            <p>25/04/24 в 18:00 ул. Большая Покровская, д. 4 </p>
            <p>25/04/24 в 18:00 ул. Большая Покровская, д. 4 </p>
            <p>25/04/24 в 18:00 ул. Большая Покровская, д. 4 </p>
            <p>25/04/24 в 18:00 ул. Большая Покровская, д. 4 </p>
            <p>25/04/24 в 18:00 ул. Большая Покровская, д. 4 </p>
        </div>

    </div>
</div>