<div class="post__wrapper ">
    <h2 class="post__title">
        НАЗВАНИЕ ПОСТА
        
    </h2>
    <div class="post__data">18/01/24</div>

     <div class="post__text">
        <p> Уличные артисты - это уникальное явление городской культуры, которое привлекает внимание прохожих своей яркостью, талантом и умением подарить радость и эмоции совершенно незнакомым людям. Они выступают на оживленных улицах, площадях и парках, превращая обыденные места в настоящие сцены для своих выступлений.</p>
        <p> Уличные артисты - это уникальное явление городской культуры, которое привлекает внимание прохожих своей яркостью, талантом и умением подарить радость и эмоции совершенно незнакомым людям. Они выступают на оживленных улицах, площадях и парках, превращая обыденные места в настоящие сцены для своих выступлений.</p>
        <p> Уличные артисты - это уникальное явление городской культуры, которое привлекает внимание прохожих своей яркостью, талантом и умением подарить радость и эмоции совершенно незнакомым людям. Они выступают на оживленных улицах, площадях и парках, превращая обыденные места в настоящие сцены для своих выступлений.</p>   
     </div>
        <ul class="post__gallery">
            <li class="post__gallery-item"><img src="img/x_4016daf4.jpg" alt="post image" class="post__gallery-img"></li>
            <li class="post__gallery-item"><img src="img/x_9256d64c.jpg" alt="post image" class="post__gallery-img"></li>
            <li class="post__gallery-item"><img src="img/x_a15b51e0.jpg" alt="post imge" class="post__gallery-img"></li>
            <li class="post__gallery-item"><img src="img/x_4016daf4.jpg" alt="post image" class="post__gallery-img"></li>
            <li class="post__gallery-item"><img src="img/x_9256d64c.jpg" alt="post image" class="post__gallery-img"></li>
            <li class="post__gallery-item"><img src="img/x_a15b51e0.jpg" alt="post imge" class="post__gallery-img"></li>
        </ul>
        

</div>